<div class="panel panel-default text-center" style="width:100%">
    <div class="panel-body">
      <h1>Login</h1>
    </div>
    <ul class="list-group">
        <li class="list-group-item">
            <%= form_tag(login_path) do %>
                <%= label_tag :username, nil, class:"control-label " %> 
                <%= text_field_tag :username, params[:username], autofocus: true, class:"form-control"%> 

                <h3><%= label_tag(:password)%></h3> 
                <%= password_field_tag(:password)%> <br><br>

                <%= submit_tag("Log in", class: "btn btn-success btn-lg") %> <br><br>

            <% end %>
            Don't have an account? <%= link_to "Sign up here!", signup_path%> <br>
            <%= link_to "Forgot your password?", new_reset_path%> <br>
        </li>   
    </ul>
</div>

<!-- <input type="text" class="form-control" name="username" placeholder="Email Address" required="" autofocus="" />
      <input type="password" class="form-control" name="password" placeholder="Password" required=""/>      
      <label class="checkbox">
        <input type="checkbox" value="remember-me" id="rememberMe" name="rememberMe"> Remember me
      </label> -->





  
