<h1>Signup</h1>

<% if @user.errors.any? %>
    <% @user.errors.full_messages.each do |error| %>
        <p class="text-danger"> * <%= error %> </p>
    <% end %>
<% end %> 

<%= form_for(@user, url: signup_path) do |f|%>
    <p> <%= label_tag(:email)%> </p>
    <p><%= f.text_field :email, autofocus: true %></p>
    <p> <%= label_tag(:username)%> </p>
    <p><%= f.text_field :username, required: true %></p>
    <p> <%= label_tag(:password)%> </p>
    <p><%= f.password_field :password, required: true %></p>
    <p> <%= label_tag(:picture)%> </p>
    <p><%= f.text_field :picture, required: true %></p>
    <p> <%= label_tag(:bio)%> </p>
    <p><%= f.text_field :bio, required: true %></p>
    <p> <%= label_tag(:contact_link)%> </p>
    <p><%= f.text_field :contact_link, required: true %></p>

    <p><%= f.submit "Signup", class: "btn btn-primary" %></p>

    <%= link_to "Have an account already? Log in here", login_path %>
<% end %> 
