<h1>Admin Page</h1>


<!-- All School with edit/delete -->
<h3>All Schools</h3>

  <% @schools.each do |school| %>
    <div id="<%=school.id%>" >
     <%= school.name %> 
    <button class="adminEditSchool">Edit</button>
    <button class="adminDeleteSchool">Delete</button>
    
     <!--  <li><%= school.name %><%= link_to "Delete School", school_path(school), method: :delete,class:"adminDelete", data:{confirm: 'Do you really want to delete?'}%></li> -->
    </div>
  <% end %>
<!-- All the Reviews with Delete -->
<h3>All Reviews</h3>

  <% @reviews.each do |review| %>
  <div id="<%=review.id%>" >
    <%= review.title %>
    <button class="adminDeleteReview">Delete</button>
    <!-- <li><%= review.title %><%= link_to "Delete this Review", review_path(review),class:"adminDelete", method: :delete, data:{confirm: 'Do you really want to delete?'}%></li> -->
  </div>
     <% end %>


<!-- All the Users with Delete -->
<h3>All Users</h3>
  <% @users.each do |user| %>
  <div id="<%=user.id%>">
    <%= user.username %>
    <% unless user.is_admin %>
    <button class="adminDeleteUser">Delete</button>
  </div>
    <% end %>
    <!-- <li><%= user.username %><%= link_to "Delete User", user_path(user), method: :delete, class:"adminDelete", data:{confirm: 'Do you really want to delete?'}%></li> -->
  <% end %>
</ul>