<div class="panel panel-default text-center" style="width:100%">
    <div class="panel-body">
      <h1>Admin Page</h1>
    </div>
    <ul class="list-group">
        <li class="list-group-item">
          <div class="row"> 
            <div class="col-md-6"><h3>Schools</h3></div>
            <div class="col-md-4"><h3>Reviews</h3></div>
            <div class="col-md-2"><h3>Users</h3></div>
          </div>
        </li>   
        <li class="list-group-item">
          <div class="row">
            <div class="col-md-6">
              <!-- All School with edit/delete -->
              <% @schools.each do |school| %>
                <div id="<%=school.id%>" >
                 <%= school.name %> <br>
                <button class="btn btn-warning adminEditSchool">Edit</button>
                <button class="btn btn-danger adminDeleteSchool">Delete</button>
                
                 <!--  <li><%= school.name %><%= link_to "Delete School", school_path(school), method: :delete,class:"adminDelete", data:{confirm: 'Do you really want to delete?'}%></li> -->
                </div>
              <% end %> <br><br>
              <%= link_to '+ New School', new_school_path, class:"btn btn-success" %>
            </div>
            <div class="col-md-4">
              <!-- All the Reviews with Delete -->
              <% @reviews.each do |review| %>
                <div id="<%=review.id%>" > <hr>
                  <%= review.title %> 
                  <button class="btn btn-danger adminDeleteReview">Delete</button>
                  <!-- <li><%= review.title %><%= link_to "Delete this Review", review_path(review),class:"adminDelete", method: :delete, data:{confirm: 'Do you really want to delete?'}%></li> -->
                </div>
              <% end %>
            </div>
            <div class="col-md-2">
              <!-- All the Users with Delete -->
              <% @users.each do |user| %>
              <div id="<%=user.id%>"> <hr>
                <%= user.username %>
                <% unless user.is_admin %>
                <button class="btn btn-danger adminDeleteUser">Delete</button>
              </div>
                <% end %>
                <!-- <li><%= user.username %><%= link_to "Delete User", user_path(user), method: :delete, class:"adminDelete", data:{confirm: 'Do you really want to delete?'}%></li> -->
              <% end %>
            </div>
          </div>   
        </li>
    </ul>
</div>
