<div class="panel panel-default text-center" style="width:100%">
    <div class="panel-body">
      <h1>Signup</h1>
    </div>
    <ul class="list-group">
        <% if @user.errors.any? %>
               <% @user.errors.full_messages.each do |error| %>
                   <p class="text-danger"> * <%= error %> </p>
               <% end %>
           <% end %> 
           <%= form_for(@user, url: signup_path) do |f|%>
           <%= f.label :email, class:"control-label"%> <br> 
           <%= f.text_field :email, class:"form-control required: true" %> <br>
           <%= f.label :username, class:"control-label"%> <br>
           <%= f.text_field :username,class:"form-control required: true "%> <br>
           <%= f.label :password, class:"control-label"%> <br>
           <%= f.password_field :password,class:"form-control required: true " %> <br>
           <%= f.label :picture, class:"control-label"%> <br>
           <%= f.text_field :picture,  class:"form-control required: true" %> <br>
           <%= f.label :contact_link, class:"control-label"%> <br>
           <%= f.text_field :contact_link, class:"form-control required: true "%> <br>
           <p> <%= f.label :bio, class:"control-label"%> </p>
           <p><%= f.text_area :bio, required: true, size: "50x5", :placeholder => "Something about you..." %></p>
           
           <p><%= f.submit "Signup", class: "btn btn-success btn-lg" %></p>
           
           <%= link_to "Have an account already? Log in here", login_path %>
           
               
           <% end %>   
    </ul>
</div>











