<div class="panel panel-default text-center" style="width:100%">
    <div class="panel-body">
        <h1>School Page</h1>
    </div>
    <ul class="list-group">
        <li class="list-group-item">
            <img src="<%= @school.logo %>" class="logoSchool">
            <p><%= @school.name %></p>
            <a href="<%= @school.webpage %>"><%= @school.webpage %></a>
            <p><%= @school.address %></p>
            <p><%= @school.description %></p>
        </li>   
        <li class="list-group-item">
            <h3>REVIEWS</h3>
            <% @school.reviews.each do |review| %>
            <div class="row">
                <div class="col-md-3">
                    <img src="<%= review.user.picture %>" class="miniPicture">
                    <%= review.user.username %> 
                </div>
                <div class="col-md-3"><%= review.title %></div>
                <div class="col-md-3"><%= review.description %></div>
                <div class="col-md-3"><%= review.rating %></div>
            </div><br>
            <% end %>
            <% if current_user %> 
                <%= link_to 'New Review', new_user_review_path(current_user, school_id: @school.id), class:"btn btn-success" %>
            <% else %> 
                <%= link_to 'New Review', login_path, class:"btn btn-success" %>
            <% end %>
        </li>
    </ul>
</div>