{{errors}}
<div id={{id}} > <hr>
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-2"></div>
        <div class="col-md-8"><h4>{{title}}</h4></div>
        <div class="col-md-1"></div>
    </div>
    <div class="row">
        <div class="col-md-1"></div>
    <div class="col-md-2">
        <img src="http://www.clipartbest.com/cliparts/4T9/Ejp/4T9Ejpy8c.png" class="miniPicture"><br>
        </div>
        <div class="col-md-8 text-justify">
        {{description}}
        <h4>Rating: {{rating}}</h4>
        </div>
        <div class="col-md-1"></div>
    </div>
    <button class="btn btn-warning userReviewEdit">Edit</button>
    <button class="btn btn-danger userReviewDelete">Delete</button>
  
</div>