<div class="col-lg-2">
  <!-- space -->
</div>
<div class="col-lg-8">
<div class="form-horizontal">
  <fieldset>
    <% if @review.errors.any? %>
      <% @review.errors.full_messages.each do |error|%>
        <p class="text-danger"> * <%=error%></p>
      <% end %>
    <%end%>

    <%= form_for [@user, @review] do |f| %>
      <div class = "form-group">
        <label class="col-lg-2 control-label"><%= f.label :title %></label>
        <div class="col-lg-10">
          <%= f.text_field :title, class: "form-control",required: true %>
        </div>
      </div>

      <div class = "form-group">
        <label class="col-lg-2 control-label"><%= f.label :rating %></label>
        <div class="col-lg-10">
          <%= f.text_field :rating, class: "form-control",required: true %>
        </div>
      </div>

      <div class = "form-group">
        <label class="col-lg-2 control-label"><%= f.label :description %></label>
        <div class="col-lg-10">
          <%= f.text_area :description, size: "50x5", class: "form-control",required: true %>
        </div>
      </div>

      <% if @school %>
        <%= f.hidden_field :school_id, value: @school.id %>
      <% end %>
        <%= f.submit class: "btn btn-primary" %> <br><br>
    <% end %>
  <fieldset>
</div>
</div>
<div class="col-lg-2">
  <!-- space -->
</div>