<!DOCTYPE html>
<html>
<head>
  <title>GroupProject</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
    <nav class="navbar navbar-default nav_color">
        <div class="container-fluid">
          <div class="navbar-header nav_type_color font_style">
            <%= link_to "BOOTBACK", root_path, class: "nav_type_color" %>
          </div>
          <ul class="nav navbar-nav navbar-right">
            <% if !current_user %>
              <%= link_to "login", login_path, class: "navbar-brand" %>
              <%= link_to "sign up", signup_path, class: "navbar-brand" %>
            <% end %>
            <% if current_user %>
              <% if current_user.is_admin %>
                <%= link_to "Admin tools", admin_path,class: "navbar-brand" %>
              <% else %>
                <%= link_to "My profile", user_path(current_user),class: "navbar-brand" %>
              <% end %>
            <%= link_to "Log out",  logout_path,  method: :delete, class: "navbar-brand" %>
          <% end %>
          </ul>
        </div>
    </nav>
    
    <% flash.each do |key, value| %>
      <% if key == "notice" %>
        <%= content_tag :div, value, class: "text-center alert alert-warning" %>
      <% elsif key == "alert" %>
        <%= content_tag :div, value, class: "text-center alert alert-danger" %>
      <% elsif key == "create" %>
        <%= content_tag :div, value, class: "text-center alert alert-success" %>
      <% elsif key == "destroy" %>
        <%= content_tag :div, value, class: "text-center alert alert-danger" %>
      <% elsif key == "update" %>
        <%= content_tag :div, value, class: "text-center alert alert-warning" %>
      <% else %>
        <%= content_tag :div, value, class: "text-center alert alert-success" %>
      <% end %>
    <% end %>

    <div class="container">
        <%= yield %>
    </div>
    <hr>
    <div class="container-fluid vertical_line">
      <div class="row">
        <div class="col-md-1 vertical_line"></div>
        <div class="col-md-5 text-right vertical_line">
          Janey  <br>
          Maja Bogeski <br>
          Miguel Angel González <br>
        </div>
        <div class="col-md-5 text-left verticalLine vertical_line">
          Rails Proyect <br>
          Galvanize <br>
        </div>
        <div class="col-md-1"></div>
      </div>
      <div class="row">
        <center>
          <footer>
            <p class="text-muted">© Copyright 2015. All rights reserved</p>
          </footer>
        </center>
      </div>
    </div>
</body>
</html>

